{% extends "base.html.twig" %}
{% block body %}
    <h1 class="title has-text-centered has-text-primary major_mono">Oupps...!
    </h1>
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <div class="box has-background-black-bis omega">
                <p class="has-text-centered content">Le lien que vous utilisez a expiré.</p>
            </div>
        </div>
    </div>

{% endblock %}
