@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');


.transparent {
    background-color: transparent !important;
    background: transparent !important;
}

.omega{
    box-shadow: none !important;
    border: none !important;
} 
 
.material_shadow_five:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
    -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px !important;
}

.material_shadow_five:focus{
    border-radius: 30px !important;
}

.card-footer{
    border: none;
}

.major_mono{
    font-family: 'Major Mono Display', monospace;
}

img{
    border-radius: 30px;
}
img::before {
    background: transparent;
}
