<footer class="footer has-background-black">
	<div class="content has-text-centered">
		<a class="is-transparent is-centered" href="{{path('home')}}">
			<img src="/Logos/logo2.png" width="28" height="28" style="border-radius: 0px !important;">
		</a>
		<span class="is-relative has-text-grey" style="top: -8px;">
			© 2020 par <a href="https://wa.me/22375604137" class="has-text-white gfont">Bruno Dogbase</a>
		</span>
	</div>
</footer>
